
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
  outline: none;
}
body{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
/* marque */
.text{
  margin-top: 70px;
  /* background-color: aqua; */
  padding: 40px 0;
  border-width: 2px 0;
  border-color: black;
}
.text marquee{
  font-size: 100px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
#section3{
  margin-top: 50px;
  background-color: #1D2228;
  color:#F2D349;
}
.tab {
  /* padding: 90px 0; */
  /* float: left; */
  /* display: flex; */
  width: 100%;
  align-items: center;
  /* font-size: 50px; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border-color: #F2D349;
  display: block;
  color:#F2D349;
  padding: 22px 16px;
  width: 100%;
  height: 5rem;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 0 10px 40px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
  height: 5rem;
  color: black;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: white;
  height: 5rem;
  color: black;
}

/* Style the tab content */
.tabcontent {
  /* float: left; */
  padding: 30px 12px 0 12px;
  /* width: 70%; */
  /* width: 100%; */
  border-left: none;
  /* height:72.4%; */
  /* background-color: #FB8122; */
}
.tabcontent h1{
  font-weight: bold;
  text-align: center;
  margin: 10px 0 30px 0;
}
.tabcontent a{
  font-size: 20px;
  height: 100%;
  padding: 10px 40px;
  border-radius:10px;
  
}
.tabcontent #btnn{
  font-size: 20px;
  padding: 5px 5px;
  margin: 40px 0 10px 0;
  border-radius:10px;
  background-color: #705ff6;
  color: white;
}
.tabcontent #btnn:hover{
  background-color: rebeccapurple;
}
.tabcontent button{
  background-color: #705ff6;
}

/* ke 3 */
.scrollable-tabs-container {
  font-family: "Roboto", sans-serif;
  /* max-width: 930px; */
  overflow: hidden;
  position:relative;
  
}

.scrollable-tabs-container svg {
  cursor: pointer;
  pointer-events: auto;
}

.scrollable-tabs-container ul {
  display: flex;
  padding: 5px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  
}
.scrollable-tabs-container li{
  /* background-color: #FB8122; */
}

.scrollable-tabs-container ul.dragging a {
  pointer-events: none;
}

.scrollable-tabs-container ul.dragging {
  scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container #aktif {
  color: white;
  text-decoration: none;
  padding: 4px 24px;
  /* width: 500px; */
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container #aktif.active {
  background: #ffffff;
  color: black;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow {
  right: 0;
  justify-content: flex-end;
}
/* Section4 */
#section4{
  margin-top: 90px ;
}
.ground img{
  width: 60px;
}
.ground{
  box-shadow: none;
  transition: 0.5s;
  transition-timing-function: ease;
}
.ground:hover{
  box-shadow: 5px 5px 0 #111729;
}
footer{
  background-color: #FB8122;
}
#footer li{
  width: 50px;
  color: #111729;
}
#footer li:hover{
  color:#ffffff
}
