
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&family=Rubik:ital@0;1&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
  outline: none;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
/* marque */
.text{
  margin-top: 70px;
  /* background-color: aqua; */
  padding: 40px 0;
  border-width: 2px 0;
  border-color: black;
}
/* section 2 */
#section img{
  border-radius: 50%;
}
#section2 img:hover{
  background-color: #705ff6;
  border-radius: 50%;
  transition: .2s;
  transition-timing-function: ease-out;
  
}
.text marquee{
  font-size: 100px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
#section3{
  margin-top: 50px;
  background-color: #1D2228;
  max-height: 200vh;

  
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
      #section3{
        height: 100vh;
      }
    }
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
      #section3{
        height: 130vh;
      }
}
@media only screen 
    and (device-width : 820px) 
    and (device-height : 1180px) 
    and (-webkit-device-pixel-ratio : 2) { 
      #section3{
        height: 70vh;
      }
}
@media screen and (min-width:1024px ) {
  #section3{
    height: 160vh;
  }
}
@media screen and (min-width:1280px ) {
  #section3{
    height: 120vh;
  }
}
@media screen and (max-width:1440px){
  #section3{
    height: 100vh;
  }
}
/* @media screen and (min-width:768px) and (max-width:1024px){
  #section3{
    height: 160vh;
  }
} */
#section3 #h1{
  background-color: #FB8122;
  color: #fff;
}
.tab {
  /* padding: 90px 0; */
  /* float: left; */
  /* display: flex; */
  width: 100%;
  align-items: center;
  /* font-size: 50px; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border-color: #F2D349;
  display: block;
  color:#F2D349;
  padding: 22px 16px;
  width: 100%;
  height: 5rem;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 0 10px 40px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  height: 5rem;
  color: white;
}

/* Create an active/current "tab button" class */
.tab button.active {
  height: 5rem;
  color: white;
}

/* Style the tab content */
.tabcontent {
  /* float: left; */
  padding: 30px 12px 0 12px;
  /* width: 70%; */
  /* width: 100%; */
  border-left: none;
  /* height:72.4%; */
  /* background-color: #FB8122; */
}
.tabcontent h1{
  font-weight: bold;
  text-align: center;
  margin: 10px 0 30px 0;
}
.tabcontent a{
  font-size: 20px;
  height: 100%;
  padding: 10px 40px;
  border-radius:10px;
  
}
.tabcontent #btnn{
  font-size: 20px;
  padding: 5px 5px;
  margin: 40px 0 10px 0;
  border-radius:10px;
  background-color: #705ff6;
  color: white;
}
.tabcontent #btnn:hover{
  background-color: rebeccapurple;
}
.tabcontent button{
  background-color: #705ff6;
}  

/* ke 3 */
.scrollable-tabs-container {
  font-family: "Roboto", sans-serif;
  /* max-width: 930px; */
  overflow: hidden;
  position:relative;
  
}

.scrollable-tabs-container svg {
  cursor: pointer;
  pointer-events: auto;
}

.scrollable-tabs-container ul {
  display: flex;
  padding: 5px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  
}
.scrollable-tabs-container ul.dragging a {
  pointer-events: none;
}

.scrollable-tabs-container ul.dragging {
  scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container #aktif {
  color: white;
  text-decoration: none;
  padding: 4px 24px;
  /* width: 500px; */
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container #aktif.active {
  background: #ffffff;
  color: black;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow {
  right: 0;
  justify-content: flex-end;
}
/* Section4 */
#section4{
  margin-top: 90px ;
}
.ground img{
  width: 60px;
}
.ground{
  box-shadow: none;
  transition: 0.5s;
  transition-timing-function: ease;
}
.ground:hover{
  box-shadow: 5px 5px 0 #111729;
}
footer{
  background-color: #FB8122;
}
#footer li{
  width: 50px;
  color: #111729;
}
#footer li:hover{
  color:#ffffff
}
/* section5 */
#section5{
  background-color: forestgreen;
  
}
/* tessyimonial */
/* ---------- */
/* Testimonial */
.slider-container{
  position: relative;
  height: 200px;
}
.slider-width{
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: start;
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
}
.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-color: #111729;
}
.splide__list{
  backface-visibility:hidden;
  height:100%;
  
  margin:0!important;
}
.splide.is-initialized:not(.is-active) 
.splide__list{display:block}
.splide__pagination{
  -ms-flex-align:center;
  align-items:center;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-pack:center;
  justify-content:center;
  margin:0;
  pointer-events:none;
}
.splide__pagination li{
  display:inline-block;
  line-height:1;
  list-style-type:none;
  margin:0;
  pointer-events:auto}
.splide:not(.is-overflow)
.splide__progress__bar{width:0}
.splide{
  position:relative;
  visibility:hidden
}
.splide.is-initialized,.splide.is-rendered{visibility:visible}
.splide__slide{
  backface-visibility:hidden;
  -ms-flex-negative:0;
  flex-shrink:0;
  list-style-type:none!important;
  margin:0;position:relative
} 
.splide__sr{
  clip:rect(0 0 0 0);
  border:0;
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
} 
.splide__track{
  overflow:hidden;
  position:relative;
  z-index:0}

/* @keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}} */
.splide__arrow{
 display: none;
} 
.splide__pagination{
  bottom:.5em;
  left:0;
  padding:0 1em;
  position:absolute;
  right:0;z-index:1;
}
.splide__pagination__page{
  background:#f16714;
  border-radius:50%;
  display:inline-block;
  height:8px;
  margin:3px;
  opacity:.7;
  padding:0;
  position:relative;
  transition:transform .2s linear;
  width:8px
}
.splide button{
  display: none;
}
.splide__pagination__page.is-active{
  background:black;
  transform:scale(1.4);
  z-index:1;
  outline: 12px #ffffff;
}
.splide__pagination__page:hover{cursor:pointer;}
.splide span{
  color: #f16714;
}
.splide p{
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}
.btnf {
  background-color: var(--background-color);
  color: #222;
  padding: .5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  --background-color: #705ff6;
  --border-size: 2px;
  --accent-color: #99A98F;
}
.btnf.btn-background-slide::before {
  border-radius:10px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btnf.btn-background-slide:hover::before,
.btnf.btn-background-slide:focus::before {
  transform: scaleX(1);
}

.btnf.btn-background-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;  
}

.btnf.btn-background-slide:hover,
.btnf.btn-background-slide:focus {
  color: white;
}
.btnf.btn-border-pop::before {
  border-radius: 0.75em;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}
.btnf.btn-border-pop:hover::before,
.btnf.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -4);
  left: calc(var(--border-size) * -4);
  right: calc(var(--border-size) * -4);
  bottom: calc(var(--border-size) * -4);
}


@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spinn {
  animation: spin 1s linear infinite;
}


